<div>

    <h3>Pendings bottles</h3>
    <table class="table table-condensed">

        <thead>
        <tr>
            <th>BarCode</th>
            <th>Adding Date</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pending in pendings">
            <td>{{ pending.barcode }}</td>
            <td>{{ pending.addingDate | date:'medium'}}</td>
            <td>{{ pending.qty}}</td>
            <td>
                <button class="btn btn-small btn-success"><i class="icon-white icon-check"></i> Validate</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Registered bottles</h3>
    <table class="table table-condensed">

        <thead>
        <tr>
            <th>BarCode</th>
            <th>Domain</th>
            <th>Origin</th>
            <th>Vintage</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bottle in bottles">
            <td>{{ bottle.barcode }}</td>
            <td>{{ bottle.domain.name }}</td>
            <td>{{ bottle.domain.origin.region.name }} / {{ bottle.domain.origin.name }}</td>
            <td>{{ bottle.vintage }}</td>
            <td>
                <button class="btn btn-small btn-info" ng-click="redirect('/bottle/' + bottle.id)"><i class="icon-white icon-eye-open"></i> View</button>
                <button class="btn btn-small btn-warning"><i class="icon-white icon-edit"></i> Edit</button>
                <button class="btn btn-small btn-danger"><i class="icon-white icon-remove"></i> Remove</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
