<div id="vino-content">

    <h3>Cellar</h3>
    <button class="btn btn-small btn-success"><i class="icon-white icon-plus"></i> Add (+)</button>
    <button class="btn btn-small btn-danger"><i class="icon-white icon-remove"></i> Remove (-)</button>

    <table class="table table-condensed" style="margin-top: 15px">

        <thead>
        <tr>
            <th>BarCode</th>
            <th>Domain</th>
            <th>Origin</th>
            <th>Vintage</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records">
            <td>{{ record.barcode }}</td>
            <td>{{ record.domain.name }}</td>
            <td>{{ record.domain.origin.region.name }} / {{ record.domain.origin.name }}</td>
            <td>{{ record.vintage }}</td>
            <td>{{ record.quantity }}</td>
            <td>
                <button class="btn btn-small btn-info" ng-click="redirect('/domains/' + record.domain.id + '/view')"><i class="icon-white icon-eye-open"></i> Domain</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
