<div id="vino-content" ng-controller="CellarCtrl">

    <h3>Cellar</h3>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
    </form>

    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addRecordModal">
        <i class="glyphicon glyphicon-plus"></i> Add
    </button>

    <table class="table table-condensed" style="margin-top: 15px">

        <thead>
        <tr>
            <th>BarCode</th>
            <th>Domain</th>
            <th>Origin</th>
            <th>Vintage</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records | filter:query">
            <td>{{ record.code.value }}</td>
            <td>
                <button class="btn btn-sm btn-info" ng-click="redirect('/domains/' + record.domain._id + '/view')">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </button>
                {{ record.domain.name }}
            </td>
            <td>{{ record.domain.origin.region.name }} / {{ record.domain.origin.name }}</td>
            <td>{{ record.vintage }}</td>
            <td>{{ record.quantity }}</td>
            <td>
                <button class="btn btn-sm btn-success" ng-click="in(record, 1)"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="out(record, 1)"><i class="glyphicon glyphicon-minus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>

    <record-manager modal-id="addRecordModal"></record-manager>

</div>
