<div id="vino-content">

    <h3>Domains</h3>
    <button class="btn btn-small btn-success" ng-click="redirect('/domains/new')"><i class="icon-white icon-plus"></i> Add</button>

    <table class="table table-condensed" style="margin-top: 15px">

        <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>AOC</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="domain in domains">
            <td>{{ domain.name}}</td>
            <td>{{ domain.origin.region.name }}</td>
            <td>{{ domain.origin.name }}</td>
            <td>
                <button class="btn btn-small btn-info" ng-click="redirect('/domains/view/' + domain.id)"><i class="icon-white icon-eye-open"></i> View</button>
                <button class="btn btn-small btn-warning" ng-click="redirect('/domains/edit/' + domain.id)"><i class="icon-white icon-edit"></i> Edit</button>
                <button class="btn btn-small btn-danger" ng-click="removeDomain(domain.id)"><i class="icon-white icon-remove"></i> Remove</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
