<div id="vino-content">

    <div id="header">
        <img alt='300x200' style='width:300px; float:right;' ng-if="domain.sticker" ng-src='data:image/jpeg;base64,{{ domain.sticker }}' style="float: left">
    </div>

    <div>

        <a class="btn btn-info" ng-if="domain.localization" href="{{domain.localization}}" target="_blank">
            <i class="icon-white icon-globe"></i>
        </a>

    </div>

    <form class="form-horizontal">

        <fieldset>
            <legend>Global</legend>
            <div class="control-group">
                <label class="control-label" for="domainName">Name : </label>

                <div class="controls">
                    <label id="domainName">{{ domain.name }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domainRegion">Region : </label>

                <div class="controls">
                    <label id="domainRegion">{{ domain.origin.region.name }}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domainAOC">AOC : </label>

                <div class="controls">
                    <label id="domainAOC">{{ domain.origin.name }}</label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Wine</legend>
            <div class="control-group">
                <label class="control-label" for="wineComment">Comment : </label>
                <div class="controls">
                    <label id="wineComment">{{ domain.tasting.comment }}</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="wineGarde">Garde : </label>
                <div class="controls">
                    <label id="wineGarde">{{ domain.tasting.garde }}</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="wineTemperatures">Temperature(s) : </label>
                <div class="controls">
                    <label id="wineTemperatures">{{ domain.tasting.temperature }}</label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Tasting</legend>
            <div class="control-group">
                <label class="control-label" for="wineFloor">Floor : </label>
                <div class="controls">
                    <label id="wineFloor">{{ domain.wineDescription.floor }}</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="wineGrape">Grape : </label>
                <div class="controls">
                    <label id="wineGrape">{{ domain.wineDescription.grape }}</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="wineMedal">Medal : </label>
                <div class="controls">
                    <label id="wineMedal">{{ domain.wineDescription.medal}}</label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>History</legend>
            <p>
                {{ domain.history.description }}
            </p>
        </fieldset>

    </form>


    <div ng-if="records.length > 0">
        <fieldset>
            <legend>Known Bottles</legend>
            <table class="table table-condensed">

                <thead>
                <tr>
                    <th>BarCode</th>
                    <th>Vintage</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in records">
                    <td><b>{{ record.code.value }}</b></td>
                    <td><b>{{ record.vintage }}</b></td>
                    <td><b>{{ record.quantity }}</b></td>
                </tr>
                </tbody>
            </table>
            </fieldset>
    </div>

    <div style="padding-bottom: 250px"></div>

</div>
