<div id="vino-content">

    <form class="form-horizontal">
        <fieldset>
            <legend>Global</legend>
            <div class="control-group">
                <label class="control-label" for="domainName">Name : </label>

                <div class="controls">
                    <input type="text" id="domainName" ng-model="model.name" placeholder="Domain name"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="domainOrigin">Origin : </label>

                <div class="controls">
                    <select id="domainOrigin" required ng-model="model.origin" ng-options="origin.name group by origin.region.name for origin in origins"></select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Visual</legend>
            <div class="control-group">
                <label class="control-label" for="domainSticker">Sticker : </label>

                <div class="controls">
                    <input id="domainSticker" type="file" data-file="current.file"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domainStickerPreview">Preview : </label>

                <div class="controls" ng-switch="model.sticker">
                    <p ng-switch-when="null">No sticker.</p>
                    <p ng-switch-when="undefined">No sticker.</p>
                    <img id="domainStickerPreview" alt='300x200' style='width:150px;' ng-show="model.sticker" ng-src='data:image/png;base64,{{model.sticker}}' ng-switch-default="">
                </div>
            </div>
        </fieldset>
    </form>

    <button class="btn btn-success" ng-click="save()"><i class="icon-white icon-check"></i> Save</button>
    <button class="btn btn-danger" ng-click="cancel()"><i class="icon-white icon-hand-left"></i> Cancel</button>

</div>
