<div id="vino-content">

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="domainName">Domain : </label>

            <div class="controls">
                <select id="domainName" required ng-model="currentPending.domain" ng-options="model.name group by model.origin.region.name for domain in domains"></select>
                <button class="btn-small btn-success"><i class="icon-white icon-plus"></i> Domain</button>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="pendingVintage">Vintage : </label>

            <div class="controls">
                <input type="text" id="pendingVintage" ng-model="currentPending.vintage" placeholder="Bottle vintage"/>
            </div>
        </div>
    </form>

</div>
