
<div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add record</h3>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="_domain">Domain : </label>
                        <div id="_domain" >
                            <domain-picker ng-model="record.domain"></domain-picker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="_code">Code : </label>
                        <input id="_code" class="form-control" type="number" ng-model="record.code.value">
                    </div>

                    <div class="form-group">
                        <label for="_vintage">Vintage : </label>
                        <input id="_vintage" class="form-control" type="number" ng-model="record.vintage">
                    </div>

                    <div class="form-group">
                        <label for="_qty">Quantity : </label>
                        <input id="_qty" class="form-control" type="number" ng-model="record.quantity">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="save(record)">Save</a>
            </div>
        </div>
    </div>
</div>


