<div id="vino-content" ng-controller="MainCtrl">


    <div class="row">
        <div class="col-lg-6" ng-if="stockByVintageOpts.hasData()">
            <highchart config="stockByVintageOpts"></highchart>
        </div>

        <div class="col-lg-6" ng-if="stockByDomainOpts.hasData()">
            <highchart config="stockByDomainOpts"></highchart>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" ng-if="stockByAOCOpts.hasData()">
            <highchart config="stockByAOCOpts"></highchart>
        </div>
    </div>

</div>
